{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
 
 
{% block content %}
<!--Contact form-->
 <div id="contact" class="row bg-dark contact-container w-100 mx-0">
    <div class="col-sm-12 col-md-6 col-6 border bg-white p-3 m-3 mx-md-auto my-md-5">
        <h2 class="logo-font text-center">Get in touch</h2>
        <p class="mb-3">If you have a question for us please fill out the form below</p>
        <form class="contact-form" action="{% url 'contact_us' %}" method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <input class="btn btn-black rounded-0 w-100" type="submit" value="Send Message" />
        </form>
    </div>
</div>

<div class="btt-button shadow-sm rounded-0 border border-black">
    <a href="" class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
   </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
$('.btt-link').click(function(e) {
    window.scrollTo(0,0)
})
</script>    
{% endblock %}
    
    


    
 

