#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #8098b888;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #8098b888;
}