<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="comics-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Comics
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="comics-link">
                <a href="{% url 'products' %}?category=comics" class="dropdown-item">Comics</a>
                <a href="{% url 'products' %}?category=graphic_novels" class="dropdown-item">Graphic Novels</a>
                <a href="{% url 'products' %}?category=collectible_comics" class="dropdown-item">Collectible Comics</a>
                <a href="{% url 'products' %}?category=comics,graphic_novels,collectible_comics" class="dropdown-item">All Comics &amp; Graphic Novels</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="Toys & Collectible-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Toys & Collectibles
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Toys & Collectibles-link">
                <a href="{% url 'products' %}?category=figures" class="dropdown-item">Figures</a>
                <a href="{% url 'products' %}?category=home_gifts" class="dropdown-item">Home & Gifts</a>
                <a href="{% url 'products' %}?category=figures,home_gifts" class="dropdown-item">All Toys & Collectibles</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="spectacular-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Spectacular Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="spectacular -link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=hot_deals" class="dropdown-item">Hot-Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,hot_deals,clearance" class="dropdown-item">All Spectacular</a>
            </div>
        </li>
    </ul>
</div>